@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #797171;
  --foreground:   #8cff00   
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b075c;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
